/Vanguard.ISXVG(2008).4.1.resharper.user
/Vanguard.ISXVG(2008).suo
/Vanguard.ISXVG.suo
/_ReSharper.Vanguard.ISXVG(2008)
bin/Debug/ISXVGWrapper.XML
bin/Debug/ISXVGWrapper.dll
bin/Debug/ISXVGWrapper.pdb
bin/Debug/Lavish.InnerSpace.dll
bin/Debug/Lavish.InnerSpace.xml
bin/Release/ISXVGWrapper.XML
bin/Release/ISXVGWrapper.dll
bin/Release/ISXVGWrapper.pdb
/obj
