* text=auto !eol
/Ability.cs -text
/Character.cs -text
/Chunk.cs -text
/Effect.cs -text
/Encounter.cs -text
/Extension.cs -text
/Forms.cs -text
/ISXVG.cs -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/Form1.Designer.cs -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/Form1.cs -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/ISXVGDotNet.csproj -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/ISXVGDotNet.sln -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/ISXVGWrapper.dll -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/Lavish.InnerSpace.dll -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/PreBuild.bat -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/Program.cs -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/Properties/AssemblyInfo.cs -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/Properties/Resources.Designer.cs -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/Properties/Resources.resx -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/Properties/Settings.Designer.cs -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/Properties/Settings.settings -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/bin/Debug/PostBuild.bat -text
ISXVGDotNet[!!-~](Empty[!!-~]with[!!-~]forms)/bin/Release/PostBuild.bat -text
ISXVGDotNet[!!-~](Empty)/ISXVGDotNet.csproj -text
ISXVGDotNet[!!-~](Empty)/ISXVGDotNet.sln -text
ISXVGDotNet[!!-~](Empty)/ISXVGWrapper.dll -text
ISXVGDotNet[!!-~](Empty)/Lavish.InnerSpace.dll -text
ISXVGDotNet[!!-~](Empty)/PreBuild.bat -text
ISXVGDotNet[!!-~](Empty)/Program.cs -text
ISXVGDotNet[!!-~](Empty)/bin/Debug/PostBuild.bat -text
ISXVGDotNet[!!-~](Empty)/bin/Release/PostBuild.bat -text
/Item.cs -text
/ItemModifier.cs -text
/Loot.cs -text
/Map.cs -text
/Minion.cs -text
/Pawn.cs -text
Properties/AssemblyInfo.cs -text
/Radar.cs -text
/VG.cs -text
/VGEvent.cs -text
/VGLoc.cs -text
/Vanguard.ISXVG.csproj -text
/Wrapper.cs -text
